.btn-primary {
    background-color: #2ebf91!important;
    border: none;
}

.hero-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-image {
    width: 500px;
}

.heading {
    font-size: 2rem;
}

@media only screen and (max-width: 767px) {

    .hero-image {
        display: none;
    }

    .hero-content {
        justify-content: center;
        align-items: center;
    }
}