:root {
    --primary-color: #2ebf91;
    --secondary-color: #F8ED8C;
    --accent-color: #FF8989;
    --hover-color: #51d4ab;
}

body {
    font-family: 'Tajawal', sans-serif;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border: none;
}

.btn-primary:hover {
    background-color: var(--hover-color) !important;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-image {
    width: 500px;
}

.heading {
    font-size: 2rem;
}

@media only screen and (max-width: 767px) {

    .hero-image {
        display: none;
    }

    .hero-content {
        justify-content: center;
        align-items: center;
    }
}